html {
    background: lightgrey;
}

.btc-dollar-wrapper {
    padding: 10px;
    border-radius: 4px;
    background-color: darkslategray;
    font-size: 12px;
}

.calculator {

}

.calculator__inner {

}