.btc-dollar-wrapper {
    font-size: 14px;
    color: #101014;
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
}

th.ant-table-cell:last-child:after {
    content: "Winst/verlies BTC/USD";
    position: absolute;
    right: -140px;
}

.ant-table-tbody .negative {
    color: rgb(247, 73, 123);
}

.ant-table-tbody .positive {
    color: rgb(130, 199, 73);
}

.btc-to-dollar-box {
    background-color: #ffb11a;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px;
    font-size: 10px;
    margin-top: 16px;
    line-height: 12px;
}