.btc-dollar-wrapper .wrapper {
    background: green;
    color: white;
}

.ant-table-tbody .negative td {
    color: yellow;
}

.btc-to-dollar-box {
    /* background-color: hsla(0,0%,100%,0.04); */
        background-color: red;;
    border-radius: 4px;
    padding: 12px;
    font-size: 10px;
    margin-top: 16px;
    line-height: 12px;
}